<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Maxym CV</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<div class="container">
  <div class="header">
    <%= image_tag "avatar.jpg", height: 300 %>
  </div>
  <div class="full-name">
    <h1>Rudenko Maxym</h1>
  </div>
  <div class="contact-info">
    <h4>16/04/1990</h4>
    <a href="mailto:maxxxjarudenko@gmail.com">maxxxjarudenko@gmail.com</a>
    <br>
    <a href="tel:+380636878637">+380636878637</a>
    <br>
    <h4>Cherkasy, Ukraine </h4>
  </div>
  <hr>
  <div class="about">
    <h3>Education: CHERKASY STATE TECHNOLOGICAL UNIVERSITY,<br> Applied linguistic, 2007-2012 </h3>
    <h3>Work Experience: QAMadness, <br> Quality Assurance Engineer, 2014 - present </h3>
    <hr>
    <h4>Worked with:</h4>
    <ul>
      <li>Mobile applications (fitness trackers, mobile games, social networks, messaging, AR);</li>
      <li> e-commerce (magento 1\2, sfcc\sfsc);</li>
      <li>Projects based on Akeneo;</li>
      <li>Spreadsheet-database hybrid;</li>
    </ul>
    <hr>
    <h4>Main responsibilities:</h4>
    <ul>
      <li>Manual testing</li>
      <li>Testing documentation creation (test-cases, check
        lists, guides, release notes, release test plans,
        enrichment files and documents);</li>
      <li>Demo presentation (internal & client oriented);
        Mentoring, Training of Junior QA engineers and
        getting them involved into the project;</li>
      <li> Problem solving consultation;</li>
      <li>Clients support;</li>
      <li>Client's requests analysis;</li>
      <li>Running already prepared load testing scripts using
        JMeter and Blazemeter and preparing the results
        reports;</li>
    </ul>
  </div>
  <hr>
  <div class="hobbies">
    <h3>Hobbies:</h3>
    <ul>
      <li>Gaming</li>
      <li>Comics</li>
      <li>Hiking</li>
      <li>Cooking</li>
      <li>Gardening</li>
    </ul>
  </div>
</body>
</div>
</html>
